<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yerim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yerim"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ShowResWho" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".MyRestaurant" />
        <activity android:name=".RestaurantRegister" />
        <activity android:name=".Reservation" />
        <activity android:name=".MyReservation" />
        <activity android:name=".restaurantList_enter" />
        <activity android:name=".restaurantList" />
        <activity android:name=".register_enter" />
        <activity android:name=".register" />
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sub_activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>